* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Code Pro', monospace, sans-serif;
  background: hsla(220, 23%, 16%, 1);
  /* background: hsla(193, 95%, 13%); */
  
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Sublime: 193, 95%, 13% */
/* one dark: 220, 23%, 18% */
